body {background-image:url(http://glasgowyp.co.uk/wp-content/uploads/2012/04/Rubiks_cube_by_keqs.jpg); background-attachment:fixed;background-repeat: no-repeat; margin-left:0px;}

.social{
  float:left;
}

.header{
    position:fixed;
}

.read {
  width: 300px;
opacity:0.85;
-moz-border-radius: 30px;
border-radius: 30px;
}

.sm{
  position:fixed;
  margin-top: -10px;
  width:70px;
  height:70px;
}


img {
opacity:0.85;
-moz-border-radius: 30px;
border-radius: 30px;
}

img:hover {
opacity:1.0;
}


.transbox
  {
  margin-top:20px;
  width:250px;
  height:350px;
  background-color:#ffffff;

  opacity:0.6;
  -moz-border-radius: 30px;
   border-radius: 30px;
  }

.text
  {
  margin:3px 3px;
  text-align: center;
  font-size: 16px;
  color:#000000;
  line-height:1.75;
  opacity: 1;
  }

.labels1 {
	padding-left: 100px;
	padding-right: 100px;
  float:left;
}

.labels2 {
	float:left;
}

.gallery {
 
   margin-top: 0px;
   margin-left:300px;
   width:300px;
   list-style-type: none;
   -moz-border-radius: 30px;
   border-radius: 30px;
}


aside {
 float: right;
  margin: 10px;
  width: 20%;
  -webkit-position: fixed; top:2%; right:2%;
}

.sidebar {
  position: fixed;
  right:25%; top:15%;
}


a:link {
color:black;
text-decoration:none;
}

a:visited {
color:black;
text-decoration:none;
}